.register {
    padding-top: 3cm;
    padding-bottom: 5cm;
}

.register_form{
    justify-content: center;
    padding-top: 1cm;
}

.register_form_box{
    width: 15cm;
}

@media (max-width: 600px) {
    .register_form_box{
        width: 8cm;
    }
}

.register_title {
    margin-top: 1cm;
    font-size: 1cm;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
}

.btn-primary:disabled{
    cursor: no-drop;
}

#register_button {
    background-color: black;
    border-color: black;
}

#facebook_oauth {
    background-color: black;
    border-color: black;
    margin-bottom: 1cm;
}