.shelf-item {
    width: 200px;
    height: 317px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 20px ;
    margin-right: 20px ;

  border: 1px solid transparent;
    cursor: pointer;
    background-color: #ffffff;
  &:hover {
     border: 1px solid #eee;

.shelf-item__buy-btn {
    background-color: #eeee23;
    color: #000000;
  font-weight: bold;
}
}
.shipping-tag{
    position: absolute;
    color: #ececec;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 0.6em;
    background-color: #1fbc38;
    cursor: default;
}
  .new-tag{
    position: absolute;
    color: #ececec;
    top: 10px;
    left: 10px;
    padding: 5px;
    font-size: 0.8em;
    background-color: red;
    cursor: default;
  }

&__thumb {
img {
    max-width: 150px;
    max-height: 150px;
}
//img:hover{
  //  transform: scale(1.01);
  //}
}

&__title {
     position: relative;
     padding: 0 20px;
     height: 20px;

//&::before {
   //  content: '';
   //  width: 20px;
   //  height: 2px;
   //  background-color: #eabf00;
   //  position: absolute;
   //  bottom: 0;
   //  left: 50%;
   //  margin-left: -10px;
   //}
}

&__price {
     height: 60px;

.val {
b {
    font-size: 1.5em;
    margin-left: 5px;
}
}

.installment {
    color: #9c9b9b;
}
}

&__buy-btn {
     background-color: #1b1a20;
     color: #fff;
     padding: 8px 0;
     margin-top: 22px;
     cursor: pointer;
 // border-bottom: 2px solid #151419;
     transition: background-color 0.2s;
 }
}
.val-rating{
    display: flex;
    justify-content: center;
    align-items: center;

}