.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(90deg, rgb(29, 29, 29) 0%, rgba(130, 130, 130, 0.7) 100%);
    padding-left: 1.5cm;
    padding-right: 1.5cm;
    z-index: 1200;
}

.navbar.active {
    background: rgb(240, 240, 240);
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
}

.navbar-brand {
    width: 200px;
    margin-right: 0;
}

.navbar-brand:hover {
    cursor: pointer;
}

.nav-options {
    margin-left: 10%;
    margin-right: auto;
    align-items: center;
    height: 70px;
}

.nav-options #sell-with-us {
    width: 133px;
}

.nav-options .nav-text {
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    background-color: transparent;
    cursor: pointer;
    color: white;
    height: 100%;
    vertical-align: middle;
    line-height: 70px;
}

.nav-icons {
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: 0;
}

.nav-icons .nav-text {
    background-color: transparent;
    cursor: pointer;
    color: white;
    height: 100%;
    vertical-align: middle;
    line-height: 70px;
}

.nav-text .nav-item-dropdown-arrow-down {
    display: inline-block;
    margin-left: 10px;
    transform: rotate(90deg)!important;
}

.navbar.active .navbar-nav .nav-text {
    color: black;
}

.navbar.active .navbar-collapse .navbar-nav .nav-text:hover {
    color: rgb(120, 120, 120);
    /* border-bottom: 1px solid rgb(120, 120, 120); */
}

.navbar.active .navbar-nav .nav-icon svg:hover {
    cursor: pointer;
    fill: rgb(120, 120, 120);
}

.navbar .navbar-nav .nav-text:hover {
    color: rgb(190, 190, 190);
    /* border-bottom: 1px solid rgb(190, 190, 190); */
}

.navbar .navbar-nav .nav-icon svg:hover {
    cursor: pointer;
    fill: rgb(190, 190, 190);
}

@media(min-width: 992px) {
    .navbar {
        height: 70px;
    }

    .nav-options #sell-with-us ul {
        position: absolute;
        visibility: hidden;
        display: none;
        opacity: 0;
        transition: all 0.5s ease;
        list-style: none;
        margin: 0;
        padding-left: 0;
        width: 6cm;
        z-index: 1200;
        background: rgb(240, 240, 240);
        border-top: 1px solid rgb(120, 120, 120);
        transition: all 0.5s ease;
        box-shadow: 0 2px 4px rgba(0,0,0,.15);
    }

    .nav-options #sell-with-us:hover > span,
    .nav-options #sell-with-us:focus-within > span {
        transform: rotate(-90deg)!important;
    }

    .nav-options #sell-with-us:hover > ul,
    .nav-options #sell-with-us:focus-within > ul,
    .nav-options #sell-with-us ul:hover,
    .nav-options #sell-with-us ul:focus {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    .nav-options #sell-with-us ul li {
        position: relative;
        display: block;
        float: left;
        width: 100%;
        clear: both;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        text-decoration: none;
        transition-duration: 0.5s;
        color: black;
        line-height: 0.8cm;
    }

    .nav-options #sell-with-us ul li:hover,
    .nav-options #sell-with-us ul li:focus-within {
        cursor: pointer;
        color: rgb(120, 120, 120);
        background: rgb(220, 220, 220);
    }
}

@media(max-width: 992px) {
    .navbar {
        height: auto;
    }

    .nav-options {
        margin: auto;
        height: 90%;
    }

    .nav-options .nav-text {
        height: 20%;
        text-align: center;
        vertical-align: middle;
    }

    .nav-icons {
        flex-direction: row;
    }
}