main {
    margin-top: 67.61px;
}

.style {
    margin-top: 1cm;
    font-size: 1cm;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 0;
}

@media (max-width: 770px) {
    .style {
        text-align: center;
    }
}