.product-page {
    margin-top: 3cm;
}

.product-page .products {
    padding-right: 2cm;
}

.sidebar {
    width: 10cm;
    margin-left: 1cm;
    padding-left: 1cm;
}

.card-body {
    padding: 0.5rem;
}

.sidebar .catbar .card-body,
.sidebar .conditionbar .card-body {
    padding: 0.5rem;
    margin-left: 30px;
}

.sidebar .accordion {
    font-family: 'Sarabun', sans-serif;
    width: 120%;
}

.sidebar .accordion .card-header{
    font-weight: 700;
}

.sidebar .pricebar .MuiSlider-root {
    padding-top: 30px;
}

.sidebar .sizebar .MuiSlider-root {
    padding-top: 30px;
    color: #3fb553;
}
.productpage {
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.productpage .products .search-bar {
    width: 80%;
    height: 3cm;
    margin-left: 10%;
    margin-right: 10%;
}

.productpage .products .search-bar .input-group {
    padding-top: 2cm;
    height: 1cm;
}

.productpage .products .select-bar {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}

.productpage .products .select-bar .view-bar {
    margin-left: 0;
    margin-right: auto;
}

.productpage .products .select-bar .sort-bar {
    margin-left: auto;
    margin-right: 0;
}

.productpage .select-bar-small {
    padding-right: 10%;
    margin-top: 0.5cm;
    margin-left: auto;
    margin-bottom: 0.5cm;
    text-align: right;
}

.productpage .products .product-grid {
    margin-right: 1cm;
    margin-left: 1cm;
}

.pagination-bar {
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: auto;
    margin-right: auto;
}